<head>
  <link rel="stylesheet" href="/main/assets/css/group.css" type="text/css"/>
  <link rel="stylesheet" href="/main/assets/css/viewCard.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
  <script type="text/javascript" src="/main/assets/vendors/qrcode/qrcode.min.js"></script>
  <style>
      .btn.disabled {
          pointer-events: auto;
      }
  </style>
</head>

<div class="content-wrapper">
  <input type="hidden" value="<%= @gid %>" id="gid">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link nav-group active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
      <button class="nav-link nav-group" id="nav-group-cards-tab" data-bs-toggle="tab" data-bs-target="#nav-group-cards" type="button" role="tab" aria-controls="nav-group-cards" aria-selected="false">Group
        Cards
      </button>
      <button class="nav-link nav-group" id="nav-members-tab" data-bs-toggle="tab" data-bs-target="#nav-members" type="button" role="tab" aria-controls="nav-members" aria-selected="false">Members</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- Home Tab -->
    <div id='group-overview-spinner' class="spinner-border"></div>
    <div hidden class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row">
        <div class="grid-margin stretch-card">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-3 col-sm-5 col-xl-3">
                  <h3>
                    Group Overview
                  </h3>
                </div>
                <div class="col-md-9 col-sm-7 col-xl-9 text-right">
                  <button <%='disabled' if @member.role != 0 %> type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteGroupModal">Destroy Group</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="group-overview-info">
                <span class="group-overview-bold">Name: </span>
                <span id="group-overview-name"> <span id="group-overview-status" class="group-status-badge badge rounded-pill bg-light text-dark"> Public </span></span>
              </div>
              <div class="group-overview-info">
                <span class="group-overview-bold">Owner: </span>
                <span id="group-overview-owner"></span>
              </div>
              <div class="group-overview-info">
                <span class="group-overview-bold">Description: </span>
                <span id="group-overview-description"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="grid-margin stretch-card">
          <div class="card">
            <h3 class="card-header">Card Overview</h3>
            <div class="card-body">
              <p class="card-text card-text-font"> <i class="fa-solid fa-file"></i></i>
                Currently there are
                <span id="group-overview-cards"> </span>
              </p>
              <a class="btn btn-primary" onclick="clickCardsBtn()">See all cards</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="grid-margin stretch-card">
          <div class="card">
            <h3 class="card-header">Member Overview</h3>
            <div class="card-body">
              <p class="card-text card-text-font"> <i class="fa-solid fa-users"></i>
                Currently there are
                <span id="group-overview-members"></span>
              </p>
              <a class="btn btn-primary" onclick="clickMemberBtn()">See all members</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Group Cards Tab -->
    <div class="tab-pane fade" id="nav-group-cards" role="tabpanel" aria-labelledby="nav-group-cards-tab">
      <!-- Group Cards Tab / Cards Container -->
      <div class="row row-cols-2 row-cols-md-4 g-5" id="card-results">

      </div>
      <!-- Group Cards Tab / Pagination Container -->
      <div class="row fixed-row pagination-container">
        <div class="col pagination-cards align-self-center">
        </div>
      </div>
    </div>

    <div class="modal fade" id="invite-member" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Invite Members</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-check form-check-primary">
                  <label class="form-check-label">
                    <input type="radio" id="public-code" class="form-check-input invite-check" name="code-status" value="1" checked>
                    Public
                    <i class="input-helper"></i>
                  </label>
                </div>
                <div class="form-check form-check-danger">
                  <label class="form-check-label">
                    <input type="radio" id="private-code" class="form-check-input invite-check" name="code-status" value="0">
                    Private
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <label for="invite-code">Invited Member Username</label>
                <input type="text" class="form-control" placeholder="Invited Member Username" id="invite-username" disabled style="width: 100%"/>
              </div>
            </div>
            <div class="row">
              <small>Select The Expiration Date</small>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-check form-check-warning">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input invite-check" name="expiration_date" value="7" checked>
                    7 Days
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check form-check-warning">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input invite-check" name="expiration_date" value="30">
                    30 Days
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check form-check-warning">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input invite-check" name="expiration_date" value="forever">
                    Forever
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="modal-body">
            <input type="text" class="form-control" readonly id="code-place" placeholder="The code is generated here" style="width: 100%"/>
          </div>
          <div id="invite-qrcode" style="padding-left: 22%"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="generate_invite()" id="generate-invite-btn">Generate Code</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Members Tab -->
    <div class="tab-pane fade" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
      <div class="container">
        <div class="row bootstrap snippets bootdeys">
          <div class="col-md-3 col-sm-5">
            <form method="get" role="form" class="search-form-full">
              <div class="form-group">
                <input type="text" class="form-control" name="s" id="search-input" placeholder="Search...">
              </div>
            </form>
          </div>
          <div class="col-md-9 col-sm-7 text-right">
            <button <%='disabled' if @group_info.status == 0 && @member.role == 2 %> type="button" class="btn btn-primary" data-toggle="modal" data-target="#invite-member">
              <i class="fa-solid fa-user-plus"></i>Invite
            </button>
          </div>
        </div>

        <div class="member-entry">
          <a href="#" class="member-img">
            <img src="<%= @member.avatar %>" class="img-rounded">
          </a>
          <div class="member-details">
            <div class="row">
              <div class="col-md-6 col-sm-4">
                <h4>
                  <span><%= @member.username %></span>
                  <div class="badge badge-outline-success">
                    <%if @member.role == 0 %>
                    Owner
                    <%elsif @member.role == 1%>
                    Manager
                    <%else %>
                    Member
                    <%end %>
                  </div>
                </h4>
              </div>
              <div class="col-md-6 col-sm-8 text-right">
                <button <%='disabled' if @member.role == 0 %> type="button" class="btn btn-danger btn-sm" onclick="removeMember(<%= @member.uid %>)">Leave Group</button>
              </div>
            </div>
            <div class="row info-list">
              <div class="col-sm-4 col-md-4">
                <i class="fa-solid fa-user"></i>
                <span><%= @member.work %></span>
              </div>
              <div class="col-sm-4 col-md-4">
                <i class="fa-solid fa-location-dot"></i>
                <span><%= @member.city %></span>
              </div>
              <div class="col-sm-8 col-md-8">
                <span><%= @member.bio %></span>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <% @members.each do |member| %>
          <%next if member.uid == @member.uid %>
          <div class="member-entry">
            <a href="#" class="member-img">
              <img src="<%= member.avatar %>" class="img-rounded">
            </a>
            <div class="member-details">
              <div class="row">
                <div class="col-md-6 col-sm-4">
                  <h4><span><%= member.username %></span></h4>
                </div>
                <div class="col-md-6 col-sm-8 text-right">
                  <div class="btn-group">
                    <button <%= if @member.role != 0 then 'disabled' end %> class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <% if member.role == 0 %>
                        Owner
                      <% elsif member.role == 1 %>
                        Manager
                      <% else %>
                        Member
                      <% end %>
                    </button>
                    <div class="dropdown-menu member-dropdown">
                      <a disabled class="dropdown-item" id="change-to-owner" onclick="assignRole(<%=member.uid %>, 0)"
                         style="display: <%= if member.role == 0 then 'none' else '' end%>">Owner</a>
                      <a disabled class="dropdown-item" id="change-to-manager" onclick="assignRole(<%=member.uid %>, 1)"
                         style="display: <%= if member.role == 1 then 'none' else '' end%>">Manager</a>
                      <a disabled class="dropdown-item" id="change-to-member" onclick="assignRole(<%=member.uid %>, 2)"
                         style="display: <%= if member.role == 2 then 'none' else '' end%>">Member</a>
                    </div>
                  </div>
                  <button <%= 'disabled' if @member.role >= member.role %> type="button" class="btn btn-danger btn-sm" onclick="removeMember(<%= member.uid %>)">Remove</button>
                </div>
              </div>
              <div class="row info-list">
                <div class="col-sm-4 col-md-4">
                  <i class="fa-solid fa-user"></i>
                  <span><%= member.work %></span>
                </div>
                <div class="col-sm-4 col-md-4">
                  <i class="fa-solid fa-location-dot"></i>
                  <span><%= member.city %></span>
                </div>
                <div class="col-sm-8 col-md-8">
                  <span><%= member.bio %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <input id="uid" name="uid" type="hidden" value="<%= session[:uid] %>">
    </div>
  </div>

  <div class="modal fade" id="cardViewModal" tabindex="-1" role="dialog" aria-labelledby="cardViewModalLabel" aria-hidden="true" data-toggle="modal" data-target="delete-card-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content" id="card-modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cardViewModalLabel">Card: </h5>
          <input type="text" class="form-control card-view-input" id="card-view-title">
          <button type="button" class="close" data-dismiss="modal" id="close-card-detail-btn" aria-label="Close">
            <span aria-hidden="true" class="close-button">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Source</label>
                  <div class="form-control card-view-input2" id="card-view-source"> </div>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description</label>
                  <div class="form-control card-view-input2" id="card-view-description"></div>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Comment</label>
                  <div class="row">

                    <!-- My comment -->
                    <div class="col-md-2 col-sm-2 card-comment-avatar-container">
                      <img class="img-xs rounded-circle" src="<%=session[:profile]['avatar'] %>" alt="avatar" id="comment-img-path">
                    </div>

                    <!-- Send Comments Out -->
                    <div class="col-md-10 col-sm-10 card-comment-container">
                      <textarea id="card-view-comment" class="card-comment" placeholder="Write your comment..."></textarea>
                      <button class="btn btn-inverse-secondary float-end" id="comment-save-btn" onclick="sendComment()">Save</button>
                    </div>

                    <!-- Other comments -->
                    <div class="col-12" id="comment-area" style="overflow-y:scroll; height: 200px;">
                      <!-- Display the comment -->
                      <!-- ================ -->
                    </div>

                  </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 use-time-container">
                  <p class="item-title">Used time</p>
                  <span id="card-view-used-time"></span>
                  <br>
                  <br>
                </div>
                <div class="col-md-12 action-container">
                  <p class="item-title">Actions</p>
                  <ul class="list-group action-list-group">
                    <li class="list-group-item action-item" data-toggle="modal" data-target="#copyGroupCardModal" id="copy-group-card-btn">
                      <i class="mdi mdi-content-copy action-icon"></i>
                      Copy to your card collection
                    </li>
                    <li class="list-group-item action-item" data-toggle="modal" data-target="#deleteGroupCardModal" id="delete-group-card-btn">
                      <i class="mdi mdi-delete action-icon"></i>
                      Delete from this group
                    </li>
                    <input hidden id="delete-card-cid" >
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="mr-auto create-time-text">
            Created time
            <span id="card-view-create-time">11:59 10/31/2022</span>
          </div>
          <i class="mdi mdi-star-outline star-icon" onclick="changeStarIcon()">
          </i>
          <span class="star-text" id="card-view-star">Stars </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Card Confirmation Modal -->
  <div class="modal fade bd-example-modal-sm" id="deleteGroupCardModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body" id="delete-body">
        </div>
        <div class="modal-footer" id="delete-buttons-container">
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Group Confirmation Modal -->
  <div class="modal fade bd-example-modal-sm" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to delete this group?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-delete-group-btn" data-dismiss="modal">Close</button>
          <a type="button" class="btn btn-danger" id="delete-group-btn" >Yes</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-sm" id="copyGroupCardModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to copy this card?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-copy-card-btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="copy-card-btn" onclick="copyCardFromGroup()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/main/assets/js/group.js"></script>
<script src="assets/js/view-card.js"></script>
<script>
  $(document).ready(function () {
      <%if flash[:tab] != nil? %>
      let id = "#nav-<%=flash[:tab] %>-tab";
      $(id).click();
      <%end %>
  })
</script>